/* You can add global styles to this file, and also import other style files */



/*Apply style to all elements and components*/
*,
*::before,
*::after {
  box-sizing: border-box !important;
}


html, body {
  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

h1,h2,h3,h4,h5,h6,p,a,span,div{
  margin: 0;
  padding: 0;
  margin-block: 0 !important;
}

:root{
  font-size: 16px;
}

/*-----color theme-------*/
:root{
  --clr-ac-dark: #025f9d;
  --clr-ac:#5c90e7;
  --clr-ac-light: #55b7f8;

  --clr-sc-dark:  #f5f8fd;
  --clr-sc: white;

  --clr-pr : #5e5d5d;
  --clr-pr-light: #888787;

  --clr-wt: #ffffff;
  --clr-bl: #000000;

  --clr-er: #f44336;
  --clr-er-dark: #d32f2f;
  --clr-er-light: #fdc9c9;

  --clr-warning: orange;
  --clr-warn-light: #f6e1b9;

  --clr-success: #5cb85c;
  --clr-success-light: #f3fdf3;

  --font-family: 'Roboto', sans-serif;
}


/*----------Width & Height--------------------*/
.wf{width: 100%;}
.hf{height: 100%;}
.mwf{max-width: 100%;}
.mhf{max-height: 100%;}


/*-------Child : Width & Height*/
.child-wf >*{
  width: 100%;
}


/*----------Padding--------------------*/
.p-05{padding: 0.5em};
.p-1{padding: 1em};
.p-15{padding: 1.5em};


/*----------Margin--------------------*/
.ml-auto{margin-left: auto;}
.mt-auto{margin-top: auto;}



/*----------Flex row--------------------*/
.fx-r{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.fx-r-start{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.fx-r-end{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.fx-r-cn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.fx-r-btw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*----------Child : Flex row--------------------*/
.child-fx-r-btw >*{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fx-clm{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}


.fx-clm-cn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
}

.fx-clm-hr-cn{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
}


.fx-clm-hr-vr-cn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/*-------flex sizing-------*/
.fx-grow{
  flex-grow: 1;
}

/*------------gap--------------*/
.gap-05{gap: 0.5em;}
.gap-1{gap: 1em;}
.gap-15{gap: 1.5em;}
.gap-2{gap: 2em;}



/*-----Common styles------*/
button{
  border: none;
}

button:hover{
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
