<header class="fx-r">
  <div class="fx-r gap-05">
    <h2>All</h2>
    <button matTooltip="Change View" mat-icon-button>
      <mat-icon>arrow_drop_down_circle</mat-icon>
    </button>
  </div>
  <div  class="search-bar ml-auto fx-r gap-05">
    <mat-icon>search</mat-icon>
    <input [formControl]="searchCtrl"
           placeholder="Search tasks..." />
  </div>
  <div matTooltip="Filter tasks by status" class="filter-bar fx-r">
    <mat-icon>filter_list</mat-icon>
    <select (change)="onChange($event)" >
      <option value="all">All</option>
      <option value="pending">Pending</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Complete</option>
    </select>
  </div>
  <button matTooltip="Create New Task" (click)="onAddNew()" matRipple class="add-btn fx-r">
    New Task
    <mat-icon>add</mat-icon>
  </button>
</header>

<section>
  @if (isLoading()) {
    <p>Loading ...</p>
  } @else {
    @if(originalTasks().length > 0){
      @if (viewMode() === 'default') {
        <app-card-view (onChangeStatus)="onTaskStatusUpdate($event)"
                       (onUpdateRequest)="onTaskUpdate($event)"
                       [statusFilter]="statusFilter()"
                       [srcTasks]="tasks()"></app-card-view>
      } @else {
        <app-board-view [tasks]="tasks()"></app-board-view>
      }
    } @else {
      <div class="wf hf fx-clm-hr-vr-cn">
        <h4>No Tasks found!</h4>
        <p>Create new task by clicking on create new button</p>
      </div>
    }
  }
</section>
