@if (task();as item){
  <mat-card class="card">
    <mat-card-header class="card-header fx-r ">
      <mat-card-title>{{item.title}}</mat-card-title>
      <button matTooltip="Update status" class="status-btn ml-auto fx-r">
        {{item.status}}
        <mat-icon>arrow_drop_down_circle</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="fx-grow card-content">
      <p>{{item.description}}</p>
    </mat-card-content>
    <mat-card-actions class="card-footer mt-auto fx-r-end">
      <button matTooltip="Edit Task" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button matTooltip="Delete Task" (click)="onDelete(item.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
}
