:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: radial-gradient(circle,rgba(175, 187, 240, 1) 0%, rgba(228, 235, 247, 1) 0%);
}


.header{
  width: 100%;
  height: 5%;
  padding: 1.5rem 0.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background: radial-gradient(circle,rgba(91, 111, 222, 1) 0%, rgba(112, 141, 204, 1) 74%);
  color: var(--clr-sc-dark);

  .header-title{
    .mat-icon{
    }
  }
}

.main{
  width: 80%;
  height: 95%;
  padding:1rem;
}
